body{
    font-size: 30px;
    background-color: bisque;
    margin: 300px;
}
img{
    border-radius: 45px;
    width: 400px;
    clip-path:circle();
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 50vh;
    display: flex;
    vertical-align: middle;
    display: inline-block;
}
.middle{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h5{
    font-size: 25px;
}
h4{
    font-size: 25px;
}
h3{
    font-size: 30px;
}
h1{
    text-align: center;
    font-size: 45px;
}
h2{
    text-align: justify;
}